@use 'constants' as constants;
@use 'sass:math' as math;

@function to-rem($size) {
  @return math.div($size, constants.$root-font-size) * 1rem;
}

@mixin stack($gap: null) {
  display: flex;
  flex-direction: column;

  @if ($gap) {
    gap: $gap;
  }
}

@mixin group($gap: null) {
  display: flex;
  flex-direction: row;
  align-items: center;

  @if ($gap) {
    gap: $gap;
  }
}

@mixin set-size($size) {
  width: $size;
  height: $size;
}
